<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Update role</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="updateData.name"
                matInput
                placeholder="Name"
                disabled
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="updateData.description"
                matInput
                placeholder="description"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="updateRole()" class="button" mat-raised-button>
            Update
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
